.container{ 
    background-color: rgb(249, 149, 210);
    width: 200px;
    height: 200px;
    margin-left: 500px;
    margin-top: 50px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    border: 2px solid  rgb(210, 69, 156);
    border-radius: 0px;
}
div{
    background-color: rgb(237, 168, 209);
    color: rgb(170, 0, 105);
    border: 2px double rgb(210, 69, 156);
    border-radius: 10px;
    margin: 10px;
    width: auto;
    text-align: left;
    
}
i{
    margin-left: 15px;
    margin-right: 15px;
}